:root {
    --main-bg-color: antiquewhite;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Espana";
    src: url(./assets/Espaคa.otf);
    font-display: fallback;
}

/* 
  The right way to import a font.
  https://www.freecodecamp.org/news/web-fonts-in-2018-f191a48367e8/
  */
@font-face {
    font-family: 'Espana Light';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./assets/Espana-light.woff2') format('woff2');
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.intro {
    text-align: center;
    background-color: rgb(200, 10, 30);
    flex-basis: 250px;
}

.main-content {
    padding: 0 20px;
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-container {
    width: fit-content;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 197, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.intro-container * {
    margin: 0;
}

.top-text,
.bottom-text {
font-size: 1rem;
}

.top-text {
    order: -1;
    border-top: 2px solid;
}

.bottom-text {
    order: 1;
    border-bottom: 2px solid;
}

.main-title {
    font-family: 'Espana Light';
    font-size: 2.5rem;
    letter-spacing: normal;
}

.main-text {
    font-size: 1.3rem;
}

.main-content > h2 {
    font-family: 'Espana Light';
}

form > input,
form > button {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    letter-spacing: 0.2em;
    outline: none;
}

form > input::placeholder {
    font-family: 'Espana Light';
    letter-spacing: 0.2em;
}

form > input:focus {
    border: 1px solid rgb(255, 197, 39);
}

form > button {
    margin-top: 1em;
    font-family: 'Espana Light';
}

.inactive {
    opacity: 0.5;
}

.active {
    opacity: 1;
    color: rgb(200, 10, 30);
    background-color: rgb(255, 197, 39);
    border: none;
}

.error {
    padding: 1em 0.5em;
}

/* .sign-in {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding-bottom: 0.5em;
} */